#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

export DH_GOPKG := github.com/opencontainers/runc
#export DH_GOLANG_INSTALL_EXTRA := libcontainer/seccomp/fixtures
BUILDDIR := $(shell pwd)

%:
	dh $@ --buildsystem=golang --with=golang --builddirectory=$(BUILDDIR)

override_dh_clean:
	dh_clean
	make clean
	rm -rf $(BUILDDIR)/pkg $(BUILDDIR)/src $(BUILDDIR)/obj-x86_64-linux-gnu

override_dh_auto_configure:
	dh_auto_configure -O--buildsystem=golang
	# Include vendored dependencies
	cp -rp $(BUILDDIR)/vendor $(BUILDDIR)/src
	mkdir -p $(BUILDDIR)/src/$(DH_GOPKG)
	rsync -a $(BUILDDIR)/* $(BUILDDIR)/src/$(DH_GOPKG) --exclude src

override_dh_auto_build:
	GOPATH=$(BUILDDIR) go build -tags "apparmor seccomp selinux" -o runc github.com/opencontainers/runc

override_dh_auto_install:
	install -dp $(BUILDDIR)/debian/cri-o-runc/usr/lib/cri-o-runc/sbin
	install -D -m0755 runc $(BUILDDIR)/debian/cri-o-runc/usr/lib/cri-o-runc/sbin/runc

override_dh_auto_test:

